apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: mk-ocr-app
type: Opaque
stringData:
  MONGODB_URI: mongodb://admin:CHANGEME_PLEASE@mongodb:27017/mk_ocr_platform?authSource=admin
