apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: mk-ocr-app
  labels:
    app: mongodb
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: admin
  MONGO_INITDB_ROOT_PASSWORD: CHANGEME_PLEASE
